*{
    box-sizing: border-box;
}
html{
    background-color: #e1fbdc;
}

body{
    text-align: center;
    margin: 0;
}

header h1{
   font-size: 40px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}
.options{
    display: grid;
    margin: auto;
}

.play{
    margin-top: 70px;
    width: 200px;
    height: 70px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    background-color: #04AA6D;
    border: none;
    color: white;
}

.play-again{
    margin-top: 70px;
    width: 200px;
    height: 70px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    background-color: darkgrey;
    visibility: visible;
    border: none;
    color: white;
}

.quit{
    margin-top: 70px;
    width: 200px;
    height: 70px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    background-color: firebrick;
    visibility: visible;
    border: none;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-content: center;
}

.cell{
    width: 150px;
    height: 170px;
    font-size: 50px;
    border: 2px solid black;
    align-content: center;
}

.info-message{
    text-align: center;
    visibility: visible;
}

.player-info{
    margin-left: 100px;
    margin-top: 200px;
}

.game-tracker{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 8px;
    margin-left: 50px;
    margin-right: 20px;
}

.disable-grid{
    pointer-events: none;
}





/* *{
    box-sizing: border-box;
}
body, html {
    margin: 0;
    height: 100%;
}

header{
    margin: auto;
    width: 60%;
    height:20%;
    padding: 20px 0;;
    background-color: aliceblue;
}

header h1{
    text-align: center;
    font-size: 60px;
}

header p{
    text-align: center;
    font-size: 20px;
}

.grid{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 5px;
    margin: 70px auto;
}

.cell{
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 6px;
    text-align: center;
    font-size: 40px;
}

.reset{
    margin: auto;
    width: 60%;
    height: 20%;
    padding: 20px 0;;
}

.reset-btn{
    width: 80px;
    margin: auto;
    text-align: center;
} */